@font-face {
    font-family: "arvo";
    src: url("./Arvo-Regular.ttf") format("ttf");
  }

html {
    background-image: url(./Coraline\ 32.jpg);
    background-size: cover;
    background-position: 50% 45%;
    background-attachment: fixed;
}

.container {
    display: grid;
    height: 97vh;
    margin: 0 15px;
    grid-template-rows: 5fr 90fr 5fr;
    grid-template-areas: "title" "text" "footer";
    grid-gap: 0.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: justify;
    font-size: 13px;
}

#title {
    background: #7652b2;
    grid-area: title;
    text-align: center;
    align-content: center;
    color: #cd87e4;
    border-radius: 5px;
}

#text {
    background: #bca5e2d5;
    grid-area: text;
    border-radius: 5px;
    padding: 5px 18px;
    color: #07234d;
    font-size: 17px;
}

footer {
    background: #bf84d6;
    grid-area: footer;
    text-align: center;
    font-style: italic;
    color: #7652b2;
    border-radius: 5px;
    padding: 9px;
}

@viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@media only screen and (max-width: 550p) {
    .container {
    height: 97vh;
    margin: 10px 15px;
    font-family: "Inter", sans-serif;
    }
}

/**
@media only screen and (max-width: 550px) {
    .container {
        display: grid;
        height: 97vh;
        margin: 10 8 10;
        grid-template-rows: 5fr 90fr 5fr;
        grid-template-areas: "title" "text" "footer";
        grid-gap: 0.4rem;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        text-align: justify;
        font-size: 18px;
    }
} **/
